:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg:#FF3366;
    --right-msg-bg: #20a4f3;
    --left-msg-bg:#EBECF0;
    --right-msg-bg: #d2d2da;

    --bg-color:  #EBECF0;
    --text-color: #000;
    --shadow-color: #BABECC;
    --enfasis-color: #FFF;
   
    /* --bg-color:  #1b1b1b;
    --text-color: #FFF;
    --shadow-color: #313235;
    --enfasis-color: #000;
    */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:var(--bg-color);
    padding: 0;
    height: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    padding: 20px;
    width: 100%;
}

.deconstructed {
    position: relative;
    margin: auto;
    height: 0.71em;
    color: transparent;
    font-family: 'Cambay', sans-serif;
    width: 100%;
    text-align:center;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
}

.deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: var(--text-color);
    pointer-events: none;
}

.deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(var(--text-color) 50%, transparent 50%);
    mask-image: linear-gradient(var(--text-color) 50%, transparent 50%);
}

.deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 50%, var(--text-color) 50%);
    mask-image: linear-gradient(transparent 50%, var(--text-color) 50%);
}

.deconstructed:hover {
    animation: glitch 1s linear infinite;
}

.deconstructed:hover div:nth-child(1) {
    animation: glitchTop 2s linear infinite;
}

.deconstructed:hover div:nth-child(2) {
    animation: glitchBotom 2.5s linear infinite;
}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg); 
    }
}
  
@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg); 
    }
}
  
@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg); 
    }
}

.chat-container{
    margin-top: 125px;
    width: 700px;
    height: 650px;
    text-align: initial;
    border-radius: 2rem;
    margin: 5% auto;
    margin-bottom: 0;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border-radius: 5px;
    background: var(--bg-color);
    box-shadow: -5px -5px 17px var(--enfasis-color),  5px 5px 17px  var(--shadow-color);
    border-radius: 1rem;
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-radius: 15px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}
.msger-chat::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
}

.msg-text{
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 3.6em;
    line-height: 1.8em;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    color: var(--text-color  );
    box-shadow: -3px -3px 5px  var(--enfasis-color),  3px 3px 5px  var(--shadow-color);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}


.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
    background: var(--left-msg-bg);
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    border-bottom-right-radius: 0;
}
.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

input, button {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    color: var(--text-color);
    background-color: var(--bg-color);
    letter-spacing: -0.2px;
    font-size: 16px;
}

.msger-input {
    display: block;
    width: 90%;
    box-shadow:  inset 2px 2px 5px  var(--shadow-color), inset -5px -5px 10px var(--enfasis-color);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.msger-input:focus {
    box-shadow:  inset 1px 1px 2px  var(--shadow-color), inset -1px -1px 2px var(--enfasis-color);
}

.msger-send-btn {
    box-shadow: -5px -5px 17px var(--enfasis-color),  5px 5px 17px  var(--shadow-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: auto;
    display: flex;
    margin-left: 16px;
    padding: 16px 11px;
}

.msger-send-btn:hover {
    box-shadow: -2px -2px 3px var(--enfasis-color), 2px 2px 3px  var(--shadow-color);
}

.msger-send-btn:active {
    box-shadow: inset 1px 1px 2px  var(--shadow-color), inset -1px -1px 2px var(--enfasis-color);
}

svg{
    height: 20px;
}

/*
@media only screen and (max-width: 1000px){
    header{
        display: none;
    }
    .chat-container{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .msger {
        margin: 0;
        max-width: 100%;
        box-shadow: none;
    }
    .msger-chat{
        height: 90%;
    }
    .msger-inputarea{
        height: 10%;
        width: 100%;
    }

}
*/

@media only screen and (min-width: 768px){
    .deconstructed {
        font-size: 60px;
    }
}