:root{
    --bg-color:  #EBECF0;
    --text-color: #000;
    --shadow-color: #BABECC;
    --enfasis-color: #FFF;
   
    /* --bg-color:  #1b1b1b;
    --text-color: #FFF;
    --shadow-color: #313235;
    --enfasis-color: #000;
    */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:var(--bg-color);
    padding: 0;
    height: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    padding: 20px;
    width: 100%;
}

.deconstructed {
    position: relative;
    margin: auto;
    height: 0.71em;
    color: transparent;
    font-family: 'Cambay', sans-serif;
    width: 100%;
    text-align:center;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
    animation: glitch 1s linear infinite;
}

.deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: var(--text-color);
    pointer-events: none;
}

.deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(var(--text-color) 50%, transparent 50%);
    mask-image: linear-gradient(var(--text-color) 50%, transparent 50%);
    animation: glitchTop 2s linear infinite;
}

.deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 50%, var(--text-color) 50%);
    mask-image: linear-gradient(transparent 50%, var(--text-color) 50%);
    animation: glitchBotom 2.5s linear infinite;
}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg); 
    }
}
  
@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg); 
    }
}
  
@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg); 
    }
}

.card-form {
    padding: 16px;
    width: 320px;
    margin: 5% auto;
    margin-bottom: 0;
}

.segment {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(--shadow-color);
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
      -8px -4px 8px 0px var(--enfasis-color),
      8px 4px 12px 0px var(--shadow-color),
      4px 4px 4px 0px var(--shadow-color) inset,
      -4px -4px 4px 0px var(--enfasis-color) inset;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: var(--text-color);
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
      -8px -4px 8px 0px var(--shadow-color),
      8px 4px 12px 0px var(--shadow-color);
}

.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
}

button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin-top: 16px;
    letter-spacing: -0.2px;
    font-size: 16px;
}

.input {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input {
    box-shadow:  inset 2px 2px 5px  var(--shadow-color), inset -5px -5px 10px var(--enfasis-color);
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input:focus {
    box-shadow:  inset 1px 1px 2px  var(--shadow-color), inset -1px -1px 2px var(--enfasis-color);
}

button {
    box-shadow: -5px -5px 17px var(--enfasis-color),  5px 5px 17px  var(--shadow-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
}

button:hover {
    box-shadow: -2px -2px 3px var(--enfasis-color), 2px 2px 3px  var(--shadow-color);
}

button:active {
    box-shadow: inset 1px 1px 2px  var(--shadow-color), inset -1px -1px 2px var(--enfasis-color);
}

.separator {
    margin-top: 16px;
}

.google{
    display: flex;
}

.google p{
    margin: auto;
}

/*https://codepen.io/halvves/pen/ExjxaKj*/

@media only screen and (min-width: 463px){
    .deconstructed {
        font-size: 3rem;
    }
    .card-form {
        margin: 10% auto;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px){
    .deconstructed {
        font-size: 60px;
    }
}

@media only screen and (min-width: 1000px){
    .card-form {
        margin: 100px auto;
        margin-bottom: 0;
    }
}