:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg:#EBECF0;
    --right-msg-bg: #d2d2da;

    /*
    --left-msg-bg:#FF3366;
    --right-msg-bg: #20a4f3;
    */
}

.chat-container{
    display: flex;
    padding: 0 10%;
    width: 100%;
    height: 850px;
    text-align: left;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 73%;
    height: calc(100% - 50px);
    background: var(--bg-color);
    box-shadow: -5px -5px 17px var(--enfasis-color), 5px 5px 17px  var(--shadow-color);
    border-radius: 1rem;
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-radius: 15px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}
.msger-chat::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
}

.msg-text{
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 3.6em;
    line-height: 1.8em;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    color: var(--text-color  );
    box-shadow: -3px -3px 5px  var(--enfasis-color), 3px 3px 5px  var(--shadow-color);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}


.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
    background: var(--left-msg-bg);
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

input, button {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    color: var(--text-color);
    background-color: var(--bg-color);
    letter-spacing: -0.2px;
}

.msger-input {
    display: block;
    width: 100%;
    box-shadow:  inset 2px 2px 5px  var(--shadow-color), inset -5px -5px 10px var(--enfasis-color);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.msger-input:focus {
    box-shadow:  inset 1px 1px 2px  var(--shadow-color), inset -1px -1px 2px var(--enfasis-color);
}

.msger-send-btn {
    box-shadow: -5px -5px 17px var(--enfasis-color), 5px 5px 17px  var(--shadow-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: auto;
    display: flex;
    margin-left: 16px;
    padding: 16px 11px;
}

.msger-send-btn:hover {
    box-shadow: -2px -2px 3px var(--enfasis-color), 2px 2px 3px  var(--shadow-color);
}

.msger-send-btn:active {
    box-shadow: inset 1px 1px 2px  var(--shadow-color), inset -1px -1px 2px var(--enfasis-color);
}

svg{
    height: 20px;
}

.profile-container{
    background: var(--bg-color);
    width: 25%;
    height: max-content;
    box-shadow: -5px -5px 17px var(--enfasis-color), 5px 5px 17px  var(--shadow-color);
    border-radius: 1rem;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-details{
    border-bottom: 1px solid var(--text-color);
    width: 90%;
    display: flex;
    margin: auto;
}

.settings {
    margin: auto;
    width: 90%;
}

.settings > a {
    display: block;
    color: #707070;
}

.settings > a.salir {
    color: var(--text-color);
}

/*
@media only screen and (max-width: 1000px){
    header{
        display: none;
    }
    .chat-container{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .msger {
        margin: 0;
        max-width: 100%;
        box-shadow: none;
    }
    .msger-chat{
        height: 90%;
    }
    .msger-inputarea{
        height: 10%;
        width: 100%;
    }

}

@media only screen and (min-width: 768px){
    .deconstructed {
        font-size: 60px;
    }
}
*/