<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Custom CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>S.C.A.R.L.E.T.T</title>
</head>
<body>
  
	<header>
	<div class="deconstructed">
		S. C. A. R. L. E. T. T.
		<div>S. C. A. R. L. E. T. T.</div>
		<div>S. C. A. R. L. E. T. T.</div>
	</div>
	</header>

	<div class="chat-container">
		<div class="msger">
			<div id="chatBox" class="msger-chat">
				<div class="msg left-msg">
					<!-- Esto sirve para ponerle imagen a SCARLETT
					<div
					class="msg-img"
					style="background-image: url()"
					></div>
					-->
					<div class="msg-bubble">
						<!--
						<div class="msg-info">
						<div class="msg-info-name">S.C.A.R.L.E.T.T</div>
						</div>
						-->
						<div class="msg-text">
						Hola 😝
						</div>
					</div>
				</div>
				<div class="msg right-msg">
					<!-- Esto sirve para ponerle imagen a SCARLETT
					<div
					class="msg-img"
					style="background-image: url()"
					></div>
					-->
					<div class="msg-bubble">
						<!--
						<div class="msg-info">
						<div class="msg-info-name">S.C.A.R.L.E.T.T</div>
						</div>
						-->
						<div class="msg-text">
						Hola 😝
						</div>
					</div>
				</div>
			</div>
			
			<div id="userInput" class="msger-inputarea">
				<input id="textInput" type="text" class="msger-input" placeholder="Escribe un mensaje"/>
				<button id="buttonInput" class="msger-send-btn" type="submit">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24">
						<path id="Sustracción_5" data-name="Sustracción 5" d="M926-912h0v-.008l1.684-10.1L940-924l-12.316-1.895L926-936l30,12-30,12Z" transform="translate(-926 936)"/>
					</svg>
				</button>
			</div>
			<script>
				//Para poner el nombre
				//const username = "Yosta";
				//const botname = "S.C.A.R.L.E.T.T"

				function getScarletResponse(){
					var rawText= $("#textInput").val();

					console.log(rawText);

					if (!rawText) return;

					var userHtml =
					`
						<div class="msg right-msg">
						<div class="msg-bubble">
						<div class="msg-text">${rawText}</div>
						</div>
						</div>
					`;

					$("#textInput").val("");
					$("#chatBox").append(userHtml);
					$.get("/get", { msg: rawText }).done(function(data) {
						var scarletHtml =
						`
							<div class="msg left-msg">
							<div class="msg-bubble">
							<div class="msg-text">${data}</div>
							</div>
							</div>
						`;
						$("#chatBox").append(scarletHtml);
						var myDiv = document.getElementById('chatBox');
						myDiv.scrollTop = myDiv.scrollHeight;
					});
				}
				$("#textInput").keypress(function(e){
					if(e.which == 13) {
						getScarletResponse();
					}
				});
				$("#buttonInput").click(function(){
					getScarletResponse();
				})
			</script>
		</div>
	</div>
</body>
</html>