{% extends 'scarlett/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "users/login.css" %}">
{% endblock %}

{% block content %}
    <div class='card-form'>
        <div class="segment">
            <h1>Entrar</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
        <p class="foot">¿Aún no tienes una cuenta? <a href="{% url 'register' %}"><b>Registrate aquí</b></a></p>
    </div>
{% endblock content %}